{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style-contacts.css' %}">
{% endblock css %}

{% block menu %}
		<div class="header-padding-contacts">
			<div class="header header-contacts clearfix">
				{% include 'mainapp/includes/inc_menu.html' %}
			</div>
			<div class="header-contacts-text">
				<p>Today: {{ visit_date|date:"l, j F, Y" }}</p>
				<h2 class="header-contacts-h2">Contact Us</h2>
			</div>
		</div>
{% endblock menu %}

{% block content %}
		<div class="main">
			{% for location in locations %}
			<div class="contacts-block"><a href="#" class="location-icon"><img src="{% static 'img/contacts/location_icon.png' %}" alt="location-icon"></a>
				<h2 class="contacts-h2">{{ location.city }}</h2>
				<p class="name">Phone:</p>
				<p class="contacts-text">{{ location.phone }}</p>
				<p class="name">Email:</p>
				<p class="contacts-text">{{ location.email }}</p>
				<p class="name">Address:</p>
				<p class="contacts-text contacts-text-address">{{ location.address }}</p>
			</div>
			{% endfor %}
		</div>
{% endblock content %}
