{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style-product-details.css' %}">
{% endblock css %}

{% block menu %}
		<div class="header header-details clearfix">
			{% include 'mainapp/includes/inc_menu.html' %}
		</div>
{% endblock menu %}

{% block content %}
		<div class="main">
			<ul class="main-menu clearfix">
				<li class="main-menu-list"><a href="#" class="main-menu-link main-menu-link-active">ALL</a></li>
				<li class="main-menu-list"><a href="#" class="main-menu-link">HOME</a></li>
				<li class="main-menu-list"><a href="#" class="main-menu-link">OFFICE</a></li>
				<li class="main-menu-list"><a href="#" class="main-menu-link">FURNITURE</a></li>
				<li class="main-menu-list"><a href="#" class="main-menu-link">MODERN</a></li>
				<li class="main-menu-list"><a href="#" class="main-menu-link">CLASSIC</a></li>
			</ul>
			<div class="details-slider clearfix">
				<a href="#"><img src="{% static 'img/products-details/slider_1.jpg' %}"></a>
				<div class="details-pagination">
					<a href="#"><img src="{% static 'img/products-details/controll_1.jpg' %}"></a>
					<a href="#"><img src="{% static 'img/products-details/controll_2.jpg' %}"></a>
					<a href="#"><img src="{% static 'img/products-details/controll_3.jpg' %}"></a>	
				</div>
			</div>
			<div class="details-text clearfix">
				<h2 class="details-h2">Fishnet Chair</h2>
				<p class="details-hot-deal">Hot Deal</p>
				<p class="price"><span class="text-other">$</span> 36.7<span class="text-other">/sq</span></p>
				<a href="#" class="details-button">Order Us <img src="{% static 'img/products-details/arrow.svg' %}" class="details-arrow" alt="arrow.svg"></a>
				<p class="details-main-text">The majesty of Mountains - Ugmonk style.</p>
				<p class="details-main-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
				<p class="details-main-text">et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
				<p class="details-main-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
			</div>
			<div class="clr">
			</div>
			<div class="trending-text">
				<h2 class="trending-title">Related Products</h2>
				<a href="#" class="explore">explore all <img src="{% static 'img/arrow.svg' %}" alt="arrow.svg"></a>
			</div>
			<div class="products">
				<a href="#" class="main-product"><img src="{% static 'img/products/product_1.jpg' %}" alt="product_1.jpg"></a>
				<a href="#" class="main-product main-product-2"><img src="{% static 'img/products/product_2.jpg' %}" alt="product_2.jpg"></a>
				<a href="#" class="main-product"><img src="{% static 'img/products/product_3.jpg' %}" alt="product_3.jpg"></a>
			</div>	
		</div>
{% endblock content %}
