{% extends 'mainapp/base.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style-products.css' %}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap">
{% endblock css %}

{% block menu %}
		<div class="header-padding-products">
			<div class="header header-products clearfix">
				{% include 'mainapp/includes/inc_menu.html' %}
			</div>
			<div class="header-products-text">
				<h2 class="header-products-h2">Our Products Range</h2>
			</div>
		</div>
{% endblock menu %}

{% block content %}
		<div class="main">
			{% include 'mainapp/includes/inc_categories_menu.html' %}
			<div class="products">
				{% for product in same_products %}
				<div class="block">
					<a href="#"><img src="{{ media_url }}{{ product.image }}" alt="{{ product.short_desc }}">
						<div class="text">
							<img src="/static/img/icon-hover.png" alt="img">
							<h3>Категория:{{ product.category.name }}</h3>
							<h4>Название: {{ product.name }}</h4>
							<p>Описание: {{ product.description }} </p>
							<p>Цена: {{ product.price }} </p>
							<p>На складе: {{ product.quantity }} </p>
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
			<div class="refresh-button">
				<a href="#"><img src="{% static 'img/products/products_refresh.png' %}" alt="products-refresh.png"></a>
			</div>
			<div class="promo-product">
				<div class="promo-content-1">
					<div class="promo-text">
						<p class="promo-content-tag">exclusive</p>
						<h2 class="promo-h2">Fishnet Chair</h2>
						<p class="promo-content-details">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
						<a href="#" class="button">Order Us <img src="{% static 'img/arrow.svg' %}" alt="arrow.svg"></a>
					</div>
				</div>
				<div class="promo-content-2">
					<div class="promo-text">
						<p class="promo-content-tag">exclusive</p>
						<h2 class="promo-h2">Fishnet Chair</h2>
						<p class="promo-content-details">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
						<a href="#" class="button">Order Us <img src="{% static 'img/arrow.svg' %}" alt="arrow.svg"></a>
					</div>
				</div>
			</div>
		</div>
{% endblock content %}
